POSIBLES PREGUNTAS:
- Relación entre el género(mujeres) con el tamaño de empresa.
- Herramientas más utilizadas segun el puesto: business o data.
- Título académico y salario.
- Paises: haceer un top10.

LO QUE HABLAMOS CON ANA:

¿A quién va dirigido el curso? ¿Qué ofrece?
- Pais
- Género
- Salario
- Herramientas: cuales utilizan los Business y los Data

¿Su cv está adaptado a lo que pide el mercado?

¿A mayor edad mayor brecha de género?

¿Dónde se está contratando a más gente de Business/Data?

Ubicar España dentro de ese mercado de contratación

Split, explode: lenguaje programación. Cantidad de gente que utiliza Python, SQL, R...

columna sector_laboral: el X del mundo del data trabaja en X que los proyectos vayan dirigidos a X.

INICIAR LA PRESENTACIÓN: Historia de los perfiles de los analistas de datos: presentar a modo informativo y enlazarlo

Como es un perfil del Analista de Datos

¿A quién me quiero dirigir?

- Salarios y género: buena pregunta. CATEGORIZAR EN 3 LOS SALARIOS (junior, mid senior, senior)

Recomendación: tamaño empresa (START UP, PEQUEÑA, MEDINA, GRANDE)

Columna funciones_puesto: es muy descriptiva, ¿la eliminamos? SI DA TIEMPO.

¿Cómo es el perfil de un analista y business?

¿Hay diferencias entre el perfil de un business y un data?

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../datos/Dataframe_final.csv')
df.sample(10)

,Unnamed: 0,age,gender,paises,titulo_academico,puesto_trabajo,años_experiencia,plataforma_informatica,sector_laboral,tamaño_empresa,salario,servidor_datos,lenguaje_programacion,entorno_desarrollo,libreria_visualizacion,funciones_puesto,herramienta_publicacion
16773,16773,25-29,Man,Brazil,Master’s degree,Data Engineer,5-10 years,A personal computer / desktop,Accounting/Finance,"1000-9,999 employees",$0-999,NaN,"Python, SQL","PyCharm ,Jupyter Notebook",Plotly / Plotly Express,None of these activities are an important par...,NaN
25104,25104,35-39,Man,South Africa,Master’s degree,Machine Learning Engineer,10-20 years,"A cloud computing platform (AWS, Azure, GCP, h...",Accounting/Finance,0-49 employees,"60,000-69,999",Other,Python,"Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express ...",Build and/or run the data infrastructure that...,Personal blog
15871,15871,25-29,Woman,Philippines,Bachelor’s degree,Data Analyst,5-10 years,A laptop,Broadcasting/Communications,"1000-9,999 employees","7,500-9,999",NaN,"Python, Other",None,"Matplotlib ,Seaborn",Analyze and understand data to influence produ...,NaN
16193,16193,30-34,Woman,Canada,Master’s degree,Research Scientist,< 1 years,A laptop,Other,0-49 employees,"3,000-3,999",NaN,"R, SQL",RStudio,"Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny",Analyze and understand data to influence produ...,GitHub Shiny
171,171,22-24,Man,India,Bachelor’s degree,Software Engineer,1-3 years,A laptop,Computers/Technology,"10,000 or more employees",$0-999,MySQL,"Python, Javascript","Visual Studio ,PyCharm ,Jupyter Notebook","Matplotlib ,Seaborn ,Plotly / Plotly Express",Analyze and understand data to influence produ...,GitHub Other
1708,1708,18-21,Man,Australia,Bachelor’s degree,DBA/Database Engineer,< 1 years,None,NaN,NaN,NaN,NaN,"Python, SQL, C, C++, Java","Visual Studio ,PyCharm , Notepad++,Jupyter Not...",NaN,NaN,NaN
2450,2450,18-21,Man,Egypt,Bachelor’s degree,Student,1-3 years,A laptop,NaN,NaN,NaN,NaN,"Python, Java, MATLAB","PyCharm ,MATLAB ,Jupyter Notebook","Matplotlib ,Seaborn",NaN,NaN
16285,16285,30-34,Man,Spain,Doctoral degree,Student,5-10 years,"A deep learning workstation (NVIDIA GTX, Lambd...",NaN,NaN,NaN,NaN,"Python, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn",NaN,NaN
1156,1156,25-29,Man,Hong Kong (S.A.R.),Bachelor’s degree,Software Engineer,< 1 years,A laptop,Academics/Education,50-249 employees,"40,000-49,999",PostgreSQL,"Python, SQL, Javascript","Visual Studio Code (VSCode) , Notepad++",Matplotlib,Analyze and understand data to influence produ...,I do not share my work publicly
25233,25233,22-24,Man,India,Bachelor’s degree,Student,1-3 years,A laptop,NaN,NaN,NaN,NaN,"Python, R, SQL, Java","Visual Studio Code (VSCode) ,PyCharm ,Jupyter ...","Matplotlib ,Seaborn ,Plotly / Plotly Express ...",NaN,NaN

In [ ]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)