POSIBLES PREGUNTAS:
- Relación entre el género(mujeres) con el tamaño de empresa.
- Herramientas más utilizadas segun el puesto: business o data.
- Título académico y salario.
- Paises: hacder un top10.

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
pd.options.display.max_columns = None

In [5]:
df = pd.read_csv('../datos/df_renombrado.csv', index_col = 'index')
df.head(2)

,age,gender,paises,titulo_academico,puesto_trabajo,años_experiencia,plataforma_informatica,sector_laboral,tamaño_empresa,salario,Q26,servidor_datos,herramienta_analisis,lenguaje_programacion,entorno_desarrollo,libreria_visualizacion,funciones_puesto,herramienta_BI,Q39_Part_4,Q39_Part_6,Q39_Part_7,Q39_Part_9
index,,,,,,,,,,,,,,,,,,,,,,
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,A laptop,Manufacturing/Fabrication,50-249 employees,"25,000-29,999",$100-$999,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",None of these activities are an important par...,None,GitHub,Kaggle,NaN,NaN
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,"A cloud computing platform (AWS, Azure, GCP, h...",Manufacturing/Fabrication,"1000-9,999 employees","60,000-69,999",$0 ($USD),NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Build and/or run the data infrastructure that...,NaN,NaN,NaN,NaN,NaN