POSIBLES PREGUNTAS:
- Relación entre el género(mujeres) con el tamaño de empresa.
- Herramientas más utilizadas segun el puesto: business o data.
- Título académico y salario.
- Paises: haceer un top10.

LO QUE HABLAMOS CON ANA:

¿A quién va dirigido el curso? ¿Qué ofrece?
- Pais
- Género
- Salario
- Herramientas: cuales utilizan los Business y los Data

¿Su cv está adaptado a lo que pide el mercado?

¿A mayor edad mayor brecha de género?

¿Dónde se está contratando a más gente de Business/Data?

Ubicar España dentro de ese mercado de contratación

Split, explode: lenguaje programación. Cantidad de gente que utiliza Python, SQL, R...

columna sector_laboral: el X del mundo del data trabaja en X que los proyectos vayan dirigidos a X.

INICIAR LA PRESENTACIÓN: Historia de los perfiles de los analistas de datos: presentar a modo informativo y enlazarlo

Como es un perfil del Analista de Datos

¿A quién me quiero dirigir?

- Salarios y género: buena pregunta. CATEGORIZAR EN 3 LOS SALARIOS (junior, mid senior, senior)

Recomendación: tamaño empresa (START UP, PEQUEÑA, MEDINA, GRANDE)

Columna funciones_puesto: es muy descriptiva, ¿la eliminamos? SI DA TIEMPO.

Q39 JUNTARLAS

¿Cómo es el perfil de un analista y business?

¿Hay diferencias entre el perfil de un business y un data?

In [6]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
pd.options.display.max_columns = None

In [8]:
df = pd.read_csv('../datos/df_renombrado.csv', index_col = 'index')
df.sample(10)

,age,gender,paises,titulo_academico,puesto_trabajo,años_experiencia,plataforma_informatica,sector_laboral,tamaño_empresa,salario,Q26,servidor_datos,herramienta_analisis,lenguaje_programacion,entorno_desarrollo,libreria_visualizacion,funciones_puesto,herramienta_BI,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2938,45-49,Man,Ukraine,Master’s degree,Machine Learning Engineer,20+ years,A laptop,Accounting/Finance,0-49 employees,"90,000-99,999","$1000-$9,999",Google Cloud BigQuery,"Local development environments (RStudio, Jupyt...","Python, R, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Analyze and understand data to influence produ...,"Microsoft Power BI, Tableau",NaN,NaN,NaN,GitHub,Personal blog,Kaggle,NaN,NaN,NaN,NaN
9489,25-29,Man,Turkey,Bachelor’s degree,Machine Learning Engineer,5-10 years,"A deep learning workstation (NVIDIA GTX, Lambd...",Medical/Pharmaceutical,"1000-9,999 employees","25,000-29,999","$100,000 or more ($USD)",Microsoft SQL Server,"Advanced statistical software (SPSS, SAS, etc.)","Python, SQL, C, C++, Java","Visual Studio ,Visual Studio Code (VSCode) ,Py...","Matplotlib ,Plotly / Plotly Express ,Ggplot /...",Build and/or run the data infrastructure that...,"Amazon QuickSight, Microsoft Power BI, Google ...",NaN,NaN,NaN,GitHub,NaN,NaN,Colab,NaN,NaN,NaN
16298,18-21,Man,India,Bachelor’s degree,Student,1-3 years,A laptop,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Ggplot / ggplot2",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11274,18-21,Man,India,Master’s degree,Student,1-3 years,A personal computer / desktop,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL, C, C++, Java",Visual Studio Code (VSCode),"Matplotlib ,Seaborn ,Ggplot / ggplot2",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8669,35-39,Man,Japan,Master’s degree,Data Scientist,10-20 years,A personal computer / desktop,Marketing/CRM,250-999 employees,"10,000-14,999","$10,000-$99,999",Google Cloud BigQuery,"Basic statistical software (Microsoft Excel, G...","Python, SQL, Javascript","Visual Studio Code (VSCode) ,Jupyter Notebook","Matplotlib ,Seaborn ,Ggplot / ggplot2",Analyze and understand data to influence produ...,Tableau,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN
17731,35-39,Man,United States of America,Doctoral degree,Data Scientist,10-20 years,"A deep learning workstation (NVIDIA GTX, Lambd...",Medical/Pharmaceutical,50-249 employees,"150,000-199,999","$100,000 or more ($USD)",Microsoft SQL Server,"Local development environments (RStudio, Jupyt...","Python, SQL, Bash","Visual Studio Code (VSCode) , Notepad++, Vim /...","Matplotlib ,Seaborn",Analyze and understand data to influence produ...,None,NaN,NaN,NaN,GitHub,NaN,Kaggle,Colab,NaN,NaN,NaN
10143,22-24,Man,India,Master’s degree,Software Engineer,3-5 years,A laptop,Academics/Education,250-999 employees,"5,000-7,499",$0 ($USD),NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL",Visual Studio Code (VSCode),None,Analyze and understand data to influence produ...,None,NaN,NaN,NaN,GitHub,NaN,NaN,NaN,NaN,NaN,NaN
9015,40-44,Woman,India,Bachelor’s degree,Currently not employed,< 1 years,A laptop,NaN,NaN,NaN,NaN,NaN,NaN,Python,"PyCharm ,Jupyter Notebook",Matplotlib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,22-24,Woman,Bangladesh,Bachelor’s degree,Student,1-3 years,A laptop,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15244,25-29,Woman,South Korea,Master’s degree,Machine Learning Engineer,3-5 years,A personal computer / desktop,Manufacturing/Fabrication,50-249 employees,$0-999,$1-$99,NaN,Other,R,RStudio,Seaborn,Build and/or run the data infrastructure that...,Other,NaN,NaN,NBViewer,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN

### UNIÓN DE LAS PREGUNTAS SEPARADAS Q39

In [12]:
df.isnull().sum().reset_index()

                     index      0
0                      age      0
1                   gender      0
2                   paises      0
3         titulo_academico      0
4           puesto_trabajo      0
5         años_experiencia      0
6   plataforma_informatica   1253
7           sector_laboral   9648
8           tamaño_empresa   9722
9                  salario  10582
10                     Q26  10790
11          servidor_datos  21317
12    herramienta_analisis   7484
13   lenguaje_programacion   1032
14      entorno_desarrollo   1039
15  libreria_visualizacion   2003
16        funciones_puesto  10338
17          herramienta_BI  16574
18              Q39_Part_1  25680
19              Q39_Part_2  25586
20              Q39_Part_3  25837
21              Q39_Part_4  21387
22              Q39_Part_5  25268
23              Q39_Part_6  22908
24              Q39_Part_7  24125
25              Q39_Part_8  25668
26              Q39_Part_9  22806
27               Q39_OTHER  25667

In [40]:
df.dtypes

age                       object
gender                    object
paises                    object
titulo_academico          object
puesto_trabajo            object
años_experiencia          object
plataforma_informatica    object
sector_laboral            object
tamaño_empresa            object
salario                   object
Q26                       object
servidor_datos            object
herramienta_analisis      object
lenguaje_programacion     object
entorno_desarrollo        object
libreria_visualizacion    object
funciones_puesto          object
herramienta_BI            object
Q39_Part_1                object
Q39_Part_2                object
Q39_Part_3                object
Q39_Part_4                object
Q39_Part_5                object
Q39_Part_6                object
Q39_Part_7                object
Q39_Part_8                object
Q39_Part_9                object
Q39_OTHER                 object
dtype: object

In [32]:
juntar_col('Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3','Q39_Part_4', 'Q39_Part_5', 'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9', 'Q39_OTHER')

'Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER'

In [ ]:
df2 = pd.DataFrame({"col1": ['2','3'], "col2": ['5','7']})
df2

  col1 col2
0    2    5
1    3    7

In [ ]:
df2["col3"] =  df2["col1"] + ", " + df2["col2"]

In [ ]:
df2

  col1 col2  col3
0    2    5  2, 5
1    3    7  3, 7

In [ ]:

"""
def unir_col(*args):
    lista = []
    for x in args:
        if str(x) != "nan":
            lista.append(str(x))
        else:
            pass

    return lista

In [ ]:
"""
final["prueba"] = final.apply(lambda dataframe: unir_col(dataframe["Q7"], dataframe["Python2"], dataframe["col2"]), axis = 1)

"""